.title{
  text-align: center;
  padding:20px;
  font-size:3rem;
}

.id{
  color:blue;
  margin:20px;
  font-size:1.5rem;
  cursor: pointer;
}

.email{
  text-align: center;
  padding:20px;
  font-size:1.5rem;

}
.address{
  text-align: center;
  padding:20px;
  font-size:1.5rem;
  color:blue;
  cursor:pointer;

}

